// <!-- Fonts -->
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
// <!-- Icons -->
@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
// fontawesome-free-6.2.1/css/all.min.css";
@import "../../public/admin-theme/vendor/fonts/tabler-icons.css";
// @import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
// <!-- Core CSS -->
@import "../../public/admin-theme/vendor/css/core-dark.css";
@import "../../public/admin-theme/vendor/css/theme-default-dark.css";
@import "../../public/admin-theme/css/demo.css";
// <!-- Vendors CSS -->
@import "../../public/admin-theme/vendor/libs/perfect-scrollbar/perfect-scrollbar.css";
@import "../../public/admin-theme/vendor/libs/node-waves/node-waves.css";
@import "../../public/admin-theme/vendor/libs/typeahead-js/typeahead.css";
@import "../../public/admin-theme/vendor/libs/apex-charts/apex-charts.css";
@import "../../public/admin-theme/vendor/libs/datatables-bs5/datatables.bootstrap5.css";
@import "../../public/admin-theme/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css";
@import "../../public/admin-theme/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css";
@import "../../public/admin-theme/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css";
@import "../../public/admin-theme/vendor/libs/spinkit/spinkit.css";

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    /* Black prints faster: h5bp.com/s */
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }
    tbody{
        font-size: 12px!important
    }
    td,
    th{
        padding: 7px!important;
    }
    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
        size: letter;
        @bottom-left {
            content: counter(page) ' of ' counter(pages);
        }
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    div.shadow-lg {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
}

.overlay {
    border-radius: 0.25rem;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    z-index: 50;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.stacked-info {
    padding-top: 7px !important;
    line-height: 1.2;
}